/* Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal */
* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", serif;
    font-weight: 700;
}

/* Basic Colors */
.black {
    color: #131313;
}
.orange {
    color: #FF900E;
}

/* Header-Nav */
nav {
    background-color: rgba(255, 144, 14, 0.10);
}
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;
}
.logo {
    font-size: 2rem;
}
.nav-list li {
    list-style-type: none;
}
.nav-list {
    display: flex;
    gap: 50px;
}
.nav-list a {
    text-decoration: none;
    font-weight: 400;
}

/* Extra small screen */
@media (max-width: 480px) {
    
    nav {
        display: flex;
        justify-content: center;
    }
    .nav-content {
        text-align: center;
        flex-direction: column;
        gap: 30px;
        padding: 20px 0px 20px 0px;
    }
    .nav-list {
        flex-direction: column;
        gap: 20px;
    }
    .nav-list a {
        text-align: center;
    }
    .logo {
        font-size: 2rem;
        text-align: center;
    }
}

/* Small Screen */
@media (min-width: 481px) and (max-width: 768px) {
    .logo {
        font-size: 2rem;
    }
    .nav-content {
        padding: 40px 0px;
        justify-content: space-around;
        align-items: center;
    }
    .nav-list {
        gap: 15px;
    }
}

/* Medium Screen */
@media (min-width: 769px) and (max-width:1024px) {
    .logo {
        font-size: 2rem;
    }
    .nav-content {
        padding: 40px 0px;
        justify-content: space-around;
    }
    .nav-list {
        gap: 40px;
    }
}

/* Large Device */
@media (min-width: 1025px) and (max-width: 1200px) {
    .logo {
        font-size: 2rem;
    }
    .nav-content {
        padding: 40px 0px;
        justify-content: space-around;
    }
    .nav-list {
        gap: 50px;
    }
}
