/* Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal */
* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", serif;
    font-weight: 700;
}
.primary-btn {
    background-color: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    color: white;
    font-weight: 600;
    border: 0;
    border-radius: 8px;
}

/* Basic Colors */
.black {
    color: #131313;
}
.orange {
    color: #FF900E;
}
.para-color {
    color: #727272;
}

/* Header-Nav */
nav {
    background-color: rgba(255, 144, 14, 0.10);
}
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;
}
.logo {
    font-size: 2rem;
}
.nav-list li {
    list-style-type: none;
}
.nav-list {
    display: flex;
    gap: 50px;
}
.nav-list a {
    text-decoration: none;
    font-weight: 400;
}

/* Banner Section */
.banner-container {
    background-color: rgba(255, 144, 14, 0.10);
}
.banner-heading {
    font-size: 4rem;
    text-align: center;
    padding-top: 40px;
}
.banner-description {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    line-height: 1.625rem;
}
.explore-btn-container {    
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.banner-img-container {
    display: flex;
    justify-content: center;
}
.banner-image {
    width: 1190px;
    height: 700px;
    background-image: url('../assets/main-image/banner.png');
    background-size: cover;
    border-radius: 15px;
    margin: 40px 0px;
}

/* Feature Section */
.team-feature-image {
    display: grid;
    grid-template-columns: repeat(2, 342px);
    gap: 30px;
}
.feature-heading {
    font-size: 2.813rem;
    margin-bottom: 10px;
}
.feature-description {
    font-weight: 400;
    line-height: 1.625rem;
    margin-bottom: 20px;
}
.light-heading {
    font-weight: 600;
}
.feature-team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

/* Extra small screen */
@media (max-width: 480px) {
    
    nav {
        display: flex;
        justify-content: center;
    }
    .nav-content {
        text-align: center;
        flex-direction: column;
        gap: 30px;
        padding: 20px 0px 20px 0px;
    }
    .nav-list {
        flex-direction: column;
        gap: 20px;
    }
    .nav-list a {
        text-align: center;
    }
    .logo {
        font-size: 2rem;
        text-align: center;
    }

    /* Banner Section */
    .banner-heading {
        font-size: 2rem;
        padding-top: 20px;
    }
    .primary-btn {
        padding: 15px 20px;
    }
    .banner-img-container {
        /* width: 90vw; */
        justify-content: center;
    }
    .banner-image {
        width: 95vw;
        height: 200px;
    }
}

/* Small Screen */
@media (min-width: 481px) and (max-width: 768px) {
    .logo {
        font-size: 2rem;
    }
    .nav-content {
        padding: 40px 0px;
        justify-content: space-around;
        align-items: center;
    }
    .nav-list {
        gap: 15px;
    }

    /* Banner Section */
    .banner-heading {
        font-size: 3rem;
    }
    .primary-btn {
        padding: 15px 20px;
    }
    .banner-image {
        width: 95vw;
        height: 350px;
    }
}

/* Medium Screen */
@media (min-width: 769px) and (max-width:1024px) {
    .logo {
        font-size: 2rem;
    }
    .nav-content {
        padding: 40px 0px;
        justify-content: space-around;
    }
    .nav-list {
        gap: 40px;
    }

    /* Banner Section */
    .banner-heading {
        font-size: 3.5rem;
    }
    .banner-description-container {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .banner-description {
        width:75vw;
    }
    .primary-btn {
        padding: 15px 20px;
    }
    .banner-image {
        width: 95vw;
        height: 400px;
    }

}

/* Large Device */
@media (min-width: 1025px) and (max-width: 1200px) {
    .logo {
        font-size: 2rem;
    }
    .nav-content {
        padding: 40px 0px;
        justify-content: space-around;
    }
    .nav-list {
        gap: 50px;
    }

    /* Banner Section */
    .banner-image {
        width: 95vw;
        height: 500px;
    }
}
